@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: var(--font-philosopher);
}


/* input[type="text"],
input[type="email"],
input[type="password"],
input {
  overflow: visible !important;
  overflow-clip-margin: unset !important;
} */