@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));


/* input[type="text"],
input[type="email"],
input[type="password"],
input {
  overflow: visible !important;
  overflow-clip-margin: unset !important;
} */